
/* This is our main stylesheet */   
/*Ex. adding downloaded font files to this project*/
@font-face {
    font-family: 'Roboto'; /*add font name*/
    src: url(); /*add path to font file*/
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    /* background image */
    background-image: url('https://images.ctfassets.net/swt2dsco9mfe/2tUJTVIdSiWIs9uNn9VGoC/2d70a1b9de8a84aba8c248da04fa991d/1280x960-terrain-wa.jpg?q=70&fit=thumb&w=1280&h=960&fm=avif'); 
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#page-header {
    margin-bottom: 20px;
    background-color: #64a362;
    padding: 10px;
    border: 2px solid #000000;
}

#page-header h1, #page-header h2 {
    margin: 45px;
    color: #2f492f; /* text color */
}

#content-container {
    display: flex;
    justify-content: center; /* Adjust space between stats and quote */
}

#stats-quote-container {
    display: flex;
    gap: 55px; /* Adjust the space between stats and quote boxes */
}

/* Added styles to stats box */
#stats-box {
    background-color: #17973d;
    padding: 10px;
    border: 2px solid #070606;
    margin-bottom: 20px;
    max-width: 300px;
    margin-right: 10px;
}

#stats-box ul {
    list-style-type: none;
    padding: 0;
}

#stats-box li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#select-box {
    margin-left: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.select-group {
    margin-bottom: 10px;
}

#race-select {
    margin-top: 10px;
    width: 102px;
}

#class-select {
    margin-bottom: 10px; /* Add margin between selects */
    width: 91px; /* Adjust width as needed */
}

#submit-button {
    margin: 2px; /* Separate from the selects */
    border-width: 2px;
}
#submit-box {
    margin-top: 20px;
}

#quote-box {
    background-color: #17973d;
    padding: 10px;
    border: 2px solid #0c0a0a;
    margin-left: 10px;
    max-width: 150px; /* Adjust the width as needed */
}

